*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.card {
    background-color: #3C2A21;
    color: antiquewhite;
    margin: 10px;
    border-radius: 5%;
}

button {
    background-color: antiquewhite;
}